body {
  background-color: #1f2833;
  background-image: linear-gradient(120deg, #161c24, #203144, #1f2833, #161c24, #161c24, #263950, #1f2833);
  
}

.navbar {
  background-color: #151b22;
  border-bottom: 2px solid rgb(49, 117, 114);
} 

#scout-logo {
  max-width: 300px;
}

#googlemaps {
    display: flex;
    justify-content: center;
    height: 420px;
    width: 52%;
    margin-left: 5%;
    border: solid #00303F 3px;
    float: left;

}

body {
    background-image: url(../assets/images/scoutSkyline.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    margin-top: 8px;
    height: 140px;
}

.head1 {
   margin-left: 6%;
   margin-bottom: 18px;
   max-width: 180px;
}

/* .head2 {
    margin-left: 8px;
    color: white;
    font-family: 'Corben';
    font-size: 1.5vw;
} */

#buttonRow {
    display: flex;
    /* justify-content: center; */
    width: 90%;
    /* margin-left: 18px;
    margin-bottom: 36px; */
    float: left;
    
}

.btn1 {
    margin-left: 95px; 
    margin-top: 12px;
    border-radius: 50px;
    font-size: 30px;   
    border: solid #00303F 3px;
    position: relative;
    color: #00303F;
}

/* #searchBar {
    justify-content: center;
    align-items: center;
    width: 100%;
} */

#googlemaps {
    position: inherit;
    z-index: 0;
    border-radius: 24px;
}

/* **INSPECT** Changed the color scheme of the buttons
Just thought it looked better feel free to veto
-Haydn */
#uberBtn, #lyftBtn {
  border-color: rgb(196, 152, 10); 
  color: rgb(196, 152, 10); 
  background-color:black;
  cursor: pointer;
}

.lyft-ride-option {
  color: white;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 25px;
        font-weight: 300;
        margin-left: 18px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
        border: solid #00303F 3px;
        border-radius: 8px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

/* --------- card styling ----------- */
#card-container {
  margin-left: 50px;
}

#uber-card {
  margin-top: 12px;
}

#lyft-card {
  margin-top: -2px;
}

.card {
  border: solid #00303F 3px;
  border-radius: 8px;
  max-height: 150px;
  max-width: 380px;
}

.card-header {
  text-align: center;
}

.cardLogo {
  max-height: 60px;
}

#uber-price, #lyft-price {
  margin-right: 18px;
}

#results {
  color: #00303F;
  font-size: 22px;
}
